/* body {
  margin: 20px;
} */

* {
  padding: 0%;
  margin: 0%;
}

.page-container {
  margin-top: 15px;
  display: flex;
}

.page-left {
  width: 150px;
  padding: 0 10px;
}

.page-right {
  padding: 0 10px;
  flex: 1;
}

#editor-text-area {
  height: calc(100vh - 120px);
  width: 70%;
  min-width: 1030px;
  margin: 0 auto;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.show_text_detail {
  background-color: #fff;
  text-align: right;
  width: 70%;
  min-width: 1030px;
  margin: 0 auto;
  border: 1px solid #ccc;
  line-height: 30px;
  padding-right: 10px;
  box-sizing: border-box;
}

input {
  width: 120px;
  line-height: 30px;
  border: none;
  outline: none;
  margin-top: 20px;
  margin-left: 20px;
}

/*animat*/
.animated {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite
}

.animated.hinge {
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s
}

.animated.zoomIn {
  padding-top: 45px;
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(.3, .3, .3);
    -ms-transform: scale3d(.3, .3, .3);
    transform: scale3d(.3, .3, .3)
  }

  50% {
    opacity: 1
  }
}

.zoomIn {
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn
}

.layerBox {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1001;
  height: auto;
  background: #fff;
  border: 1px solid #e8e8e8;
  border-radius: 3px;
  box-shadow: 0 2px 10px #0000001f;
  transition: height 0.5s;
}

.layerHeader {
  height: 45px;
  line-height: 45px;
  padding-left: 15px;
  border-bottom: 1px solid #edeeee;
  background: #fff;
  cursor: move;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}

.layerContainer {
  height: 100%;
  background: #fff;
  text-align: center;
  line-height: 1.15;
  overflow: scroll;
}

.layer-size {
  display: block;
  width: 15px;
  height: 15px;
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: se-resize;
}

.close_btn,
.btn-close {
  cursor: pointer;
  line-height: 1;
  padding: 5px;
  position: absolute;
  right: 8px;
  top: 7px;
}

.add_btn {
  cursor: pointer;
  line-height: 1;
  padding: 5px;
  position: absolute;
  right: 60px;
  top: 7px;
}

.hide_btn {
  cursor: pointer;
  line-height: 1;
  padding: 5px;
  position: absolute;
  right: 34px;
  top: 7px;
}

.add_btn svg,
.hide_btn svg {
  width: 13px;
  height: 13px;
  transition: all 0.5s;
}

.mdui-text {
  text-align: left;
  line-height: 50px;
  padding-left: 30px;
  position: relative;
  cursor: pointer;
  user-select: none;
}

.selected_target {
  background: #efefef;
}

.mdui-panel {
  padding: 10px;
}

.mdui-panel-item-body {
  padding: 0;
}

.mdui-panel-item-body .mdui-text {
  padding-left: 60px;
}

.mdui-text:hover {
  background: #efefef;
}

.mdui-text:before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  left: 5px;
  top: 16px;
  background: url(../img/text.png) no-repeat 100% 100%;
  background-size: 100%;
}

.mdui-panel-item-body .mdui-text:before {
  left: 35px;
}

.mdui-panel-item-header:before {
  width: 17px;
  height: 17px;
  position: absolute;
  left: 10px;
  top: 22px;
  background: url(../img/folder.png) no-repeat 100% 100%;
  background-size: 100%;
}

.mdui-panel-item-header {
  padding-left: 30px;
}

.mdui-panel-item-header:hover {
  background: #efefef;
}

.mdui-folder {
  position: relative;
}

.mdui-folder:before {
  /* content: ""; */
  width: 17px;
  height: 17px;
  position: absolute;
  left: 10px;
  top: 16px;
  background: url(../img/folder.png) no-repeat 100% 100%;
  background-size: 100%;
}

/* 右键菜单 */
/* 遮罩层 */
.contextmenu-mask {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /* background-color: #000; */
  /* opacity: .2; */
  z-index: 45;
}

/* 菜单内容的容器 */
.contextmenu-content {
  padding-top: 10px;
  position: fixed;
  left: 999999px;
  top: 999999px;
  font-size: 14px;
  user-select: none;
  z-index: 1003;
  width: 170px;
  height: 300px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 2px 10px #0000001f;
  -webkit-box-shadow: 0 2px 10px #0000001f;
}

.item {
  cursor: pointer;
  box-sizing: border-box;
  height: 40px;
  word-break: keep-all;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
  color: #595959;
  position: relative;
}

.add_item:after {
  content: "";
  width: 7px;
  height: 7px;
  position: absolute;
  border: 1.5px solid #000;
  border-top: 0;
  border-left: 0;
  transform: rotate(-45deg);
  top: 14px;
  right: 13px;
}

.item_list span {
  display: block;
  width: calc(100% - 38px);
  height: 40px;
  line-height: 40px;
  z-index: 2;
  position: absolute;
  left: 0px;
  bottom: 0;
  padding-left: 40px;
}

.item:hover,
.item_child:hover {
  /* background: #e5e5e6; */
  background: #f1f1f1;
  color: #333;
}

.item svg {
  height: 17px;
  width: 17px;
  padding-right: 8px;
  vertical-align: top;
}

.item_children {
  display: none;
  position: absolute;
  padding-top: 10px;
  top: 10px;
  user-select: none;
  z-index: 1008;
  width: 170px;
  height: 300px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #e8e8e8;
  box-shadow: 0 2px 10px #0000001f;
  -webkit-box-shadow: 0 2px 10px #0000001f;
}

.item_child {
  cursor: pointer;
  box-sizing: border-box;
  height: 40px;
  word-break: keep-all;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  padding: 10px 15px;
  color: #595959;
  position: relative;
  padding-left: 38px;
}

.item_children:hover {
  display: block;
}

.add_item:hover .item_children {
  display: block;
}

.add_item_folder:before {
  content: "";
  width: 15px;
  height: 15px;
  position: absolute;
  background: url(../img/folder.png) no-repeat;
  background-size: 100%;
  left: 11px;
}

.add_item_text:before {
  content: "";
  width: 17px;
  height: 17px;
  position: absolute;
  background: url("../img/text.png") no-repeat;
  background-size: 100%;
  left: 10px;
}

/* 右键菜单 */
/* 滚动槽 */
body ::-webkit-scrollbar {
  width: 0;
  height: 0;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.06);
  -webkit-box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.08);
}

/* 滚动条滑块 */
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.12);
  -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
}

/* 滚动槽 */

.w-e-toolbar {
  justify-content: center;
}